body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fdeaea;
    color: #4a3f3f; 
}

.header {
    text-align: center;
    padding: 250px 20px 200px;
    position: relative;
}

.welcome {
    font-size: 20px;
    font-weight: 300;
    color: #c46b7b;
    letter-spacing: 2px;
}

.name {
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    color: #b8576c;
    margin: 10px 0;
}

.portfolio {
    font-size: 20px;
    font-weight: 400;
    color: #c46b7b;
    letter-spacing: 3px;
}

.cam {
    position: absolute;
    width: 200px;

    left: 400px;    
    bottom: 2px;   
}


.heart {
    position: absolute;
    width:150px;

    right: 438px;    
    bottom: 270px;   
}

.bow {
    position: absolute;
    width:300px;

    left: 200px;    
    top: 900px;   
}



.section {
    margin: 80px auto;
    padding: 60px 40px;
    max-width: 1000px;
    color: #5C4033; 
}

.section-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    color: #5C4033;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.image-wrapper {
    background-color: #f6e7e7;
    padding: 20px;
    border-radius: 25px;
}

.about-img {
    width: 260px;
    border-radius: 15px;
}

.about-text {
    font-size: 17px;
    line-height: 1.9;
    text-align: justify;
    font-weight: 300;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        text-align: center;
    }

    .about-img {
        width: 200px;
    }
}